@font-face {
  font-family: pixel; 
  src: url(ByteBounce.ttf);
}

body{
    background-color: rgb(33, 42, 46);
}

h1{
  font-family: 'pixel';
  text-align: center;
  border: 6px solid rgb(206, 184, 142);
  color: #fff;
  padding: 10px;
  width: 50%;
  size: 200%;
}